*{
    margin: 0px;
    padding: 0px;
}
#fondo{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23520a75'/%3E%3Cstop offset='1' stop-color='%23de26ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#tablaEdit{
    background-color: #272727;
    padding: 40px 50px 50px 50px;
    margin: 0px auto;
    box-shadow: #120033 -8px 8px 20px;
}
h1 {
    color: palevioletred;
    text-align: center;
}

.alinear{
    display: inline-block;
    vertical-align: top;
}

#bajartabla{
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: white;
}

.botonesNav {
    display: flex;
    justify-content: space-between;
}

.botonVolver {
    width: 48%;
}

@media (max-width: 575px) {
    #tablaEdit {
        width: 85%;
    }
}

/* landscape phones */
@media (min-width: 576px) { 
    #tablaEdit {
        width: 70%;
    }
}

/* tablets */
@media (min-width: 768px) {
    #tablaEdit {
        width: 60%;
    }
}

/* desktop L */
@media (min-width: 992px) {
    #tablaEdit {
        width: 50%;
    }
}

/* desktop XL */
@media (min-width: 1200px) {
    #tablaEdit {
        width: 40%;
    }
}

/* desktop XXL */
@media (min-width: 1400px) {
    #tablaEdit {
        width: 30%;
    }
}