*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(21, 6, 226); */
}

footer{
    padding-top: 5%;
    background-color: rgb(52, 42, 65);
}

#logofooter{
    width: 100%;
}

.alinear{
    display: inline-block;
    vertical-align: top;
}

.letra{
    color: rgb(135, 117, 150);
}

.espacio{
    padding: 5px;
}

.imagen{
    width:25px;
}

.logoredes{
    margin: 20px;
}


@media (max-width: 768px) {
    
    #small {
        display: flex;
        width: 100%;
    }

    #logofooter {
        width: 50%;
        margin: 0px auto;
    }

    h6 {
        text-align: center;
    }

    .lista {
        margin-left: 15px;
    }
}
