*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: #ca7fe9;
}
#iconoSup{
    display: inline-block;
    vertical-align: top;
    width: 200px;
}
#formulario{
    background-color: #17111e;
    /* background-color: #ca7fe9; */
    margin: 0 auto;
    border: solid black;
    border-radius: 10px;
    width: 500px;
    min-height: 700px;
    padding: 50px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
h6{
    color: white;
}