*{
    margin: 0px;
    padding: 0px;
}
#formulario{
    background-color: #272727;
    margin: 0 auto;
    /* border: solid black; */
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    box-shadow: #120033 -8px 8px 20px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
h6{
    color: white;
}

/* portrait phones */
@media (max-width: 575px) {
    #formulario {
        width: 85%;
    }
}

/* landscape phones */
@media (min-width: 576px) { 
    #formulario {
        width: 70%;
    }
}

/* tablets */
@media (min-width: 768px) {
    #formulario {
        width: 60%;
    }
}

/* desktop L */
@media (min-width: 992px) {
    #formulario {
        width: 50%;
    }
}

/* desktop XL */
@media (min-width: 1200px) {
    #formulario {
        width: 40%;
    }
}

/* desktop XXL */
@media (min-width: 1400px) {
    #formulario {
        width: 30%;
    }
}